In [3]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [4]:
# File to Load (Remember to Change These)
school_data_to_load = "../Resources/schools_complete.csv"
student_data_to_load = "../Resources/students_complete.csv"

In [5]:
# Read School and Student Data File and store into Pandas DataFrames
school = pd.read_csv(school_data_to_load)
student = pd.read_csv(student_data_to_load)

In [6]:
# Combine the data into a single dataset.  
complete = pd.merge(student, school, how="outer", on=["school_name", "school_name"], indicator=True)
complete = complete.head(21)
complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,_merge
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,both
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,both
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,both
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,both
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,both
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635,both
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635,both
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635,both
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635,both
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635,both
10,10,Andrew Alexander,M,10th,Huang High School,90,70,0,District,2917,1910635,both
11,11,Daniel Cooper,M,10th,Huang High School,78,77,0,District,2917,1910635,both
12,12,Brittney Walker,F,9th,Huang High School,64,79,0,District,2917,1910635,both
13,13,William Long,M,9th,Huang High School,71,79,0,District,2917,1910635,both
14,14,Tammy Hebert,F,10th,Huang High School,85,67,0,District,2917,1910635,both
15,15,Dr. Jordan Carson,M,11th,Huang High School,94,88,0,District,2917,1910635,both
16,16,Donald Zamora,M,9th,Huang High School,88,55,0,District,2917,1910635,both
17,17,Kimberly Santiago,F,9th,Huang High School,74,75,0,District,2917,1910635,both
18,18,Kevin Stevens,M,9th,Huang High School,64,69,0,District,2917,1910635,both
19,19,Brandi Lyons,F,9th,Huang High School,89,80,0,District,2917,1910635,both
20,20,Lisa Davis,F,10th,Huang High School,91,89,0,District,2917,1910635,both

In [7]:
# total number of unique schools
unique = student["school_name"].nunique()
unique

15

In [8]:
# total students
total_students = student["student_name"].count()
total_students

39170

In [9]:
# total budget
total_budget= complete["budget"].sum()
total_budget

40123335

In [10]:
#average math score
average_math = student["math_score"].mean()
average_math

78.98537145774827

In [11]:
# average reading score
average_reading = student["reading_score"].mean()
average_reading

81.87784018381414

In [12]:
# % passing math (the percentage of students who passed math)
pass_math = student["math_score"]
pass_math = student["math_score"]>=70
pass_math = (pass_math/total_students)*100

pass_math = pass_math.sum()
pass_math

74.98085269338779

In [13]:
# * % passing reading (the percentage of students who passed reading)
pass_reading = student["reading_score"]
pass_reading = student["reading_score"]>=70
pass_reading = (pass_reading/total_students)*100

pass_reading = pass_reading.sum()
pass_reading

85.80546336482001

In [14]:
# % overall passing (the percentage of students who passed math AND reading)
#overall_pass = student[(pass_math) & (pass_reading)]
overall_pass = (pass_math + pass_reading)/2
overall_pass

80.3931580291039

In [15]:
#Save the results in a DataFrame.
schools_summary =pd.DataFrame({)
    "Total Schools":[unique],"Total Students":[total_students],"Total Budget ($)":[total_budget],
                           "Average Math Score":[average_math],"Average Reading Score":[average_reading],"% Passing Math":[pass_math],
                           "% Passing Reading":[pass_reading],
                          "% Overall Passing Rate":[overall_pass]}
schools_summary.head()

SyntaxError: closing parenthesis ')' does not match opening parenthesis '{' (2719070771.py, line 2)

In [16]:

#Perform the necessary calculations and then create a DataFrame that summarizes key metrics about each school:
#school name, school type, total students, total budget, per student budget,
#average math schore, average reading score, % passing math, % passing reading, % overall passing

#grouping by schools
school_merge = complete.set_index('school_name').groupby(['school_name'])
#types of school
types = school.set_index('school_name')['type']
#students by school
stu_sum = school_merge['Student ID'].count()
# budget
budget = school.set_index('school_name')['budget']
#budget per student 
per_stu = school.set_index('school_name')['budget']/school.set_index('school_name')['size']

#average math and reading
avg_m = school_merge['math_score'].mean
avg_r = school_merge['reading_score'].mean
# % passing math, % passing reading
math_pass = complete[complete['math_score'] >= 70].groupby("school_name")['Student ID'].count()/stu_sum
math_pass = math_pass*100
reading_pass = complete[complete['reading_score'] >= 70].groupby("school_name")['Student ID'].count()/stu_sum
reading_pass = reading_pass*100
# % overall passing
over_pass = complete[(complete['reading_score'] >= 70) + (complete['math_score'] >= 70)].groupby('school_name')['Student ID'].count()/stu_sum
over_pass = over_pass*100
# create dataframe
metrics = pd.DataFrame({ "Types of School":[types],"Total Students":[stu_sum],
                        "Budget ($)":[budget], "Per Student Budget ($)": [per_stu],
                           "Average Math Score":[avg_m],"Average Reading Score":[avg_r],"% Passing Math":[math_pass],
                           "% Passing Reading":[reading_pass],
                          "% Overall Passing Rate":[over_pass]})
metrics

,Types of School,Total Students,Budget ($),Per Student Budget ($),Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,school_name Huang High School District ...,school_name Huang High School 21 Name: Stud...,school_name Huang High School 1910635 F...,school_name Huang High School 655.0 Fig...,<bound method GroupBy.mean of <pandas.core.gro...,<bound method GroupBy.mean of <pandas.core.gro...,school_name Huang High School 66.666667 Nam...,school_name Huang High School 80.952381 Nam...,school_name Huang High School 90.47619 Name...

In [17]:
#Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows. 
#Save the results in a DataFrame called "top_schools"
top_schools = metrics.sort_values("% Overall Passing Rate", ascending=False)
top_schools = pd.DataFrame({ "Types of School":[types],"Total Students":[stu_sum],
                        "Budget ($)":[budget], "Per Student Budget ($)": [per_stu],
                           "Average Math Score":[avg_m],"Average Reading Score":[avg_r],"% Passing Math":[math_pass],
                           "% Passing Reading":[reading_pass],
                          "% Overall Passing Rate":[over_pass]})

print(top_schools)

                                     Types of School  \
0  school_name
Huang High School        District
...

                                      Total Students  \
0  school_name
Huang High School    21
Name: Stud...

                                          Budget ($)  \
0  school_name
Huang High School        1910635
F...

                              Per Student Budget ($)  \
0  school_name
Huang High School        655.0
Fig...

                                  Average Math Score  \
0  <bound method GroupBy.mean of <pandas.core.gro...

                               Average Reading Score  \
0  <bound method GroupBy.mean of <pandas.core.gro...

                                      % Passing Math  \
0  school_name
Huang High School    66.666667
Nam...

                                   % Passing Reading  \
0  school_name
Huang High School    80.952381
Nam...

                              % Overall Passing Rate
0  school_name
Huang High School    90.47619
Name...

In [18]:
#Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
#Save the results in a DataFrame called "bottom_schools".
bottom_schools = metrics.sort_values("% Overall Passing Rate", ascending=True)
bottom_schools = pd.DataFrame({ "Types of School":[types],"Total Students":[stu_sum],
                        "Budget ($)":[budget], "Per Student Budget ($)": [per_stu],
                           "Average Math Score":[avg_m],"Average Reading Score":[avg_r],"% Passing Math":[math_pass],
                           "% Passing Reading":[reading_pass],
                          "% Overall Passing Rate":[over_pass]})

print(bottom_schools)

                                     Types of School  \
0  school_name
Huang High School        District
...

                                      Total Students  \
0  school_name
Huang High School    21
Name: Stud...

                                          Budget ($)  \
0  school_name
Huang High School        1910635
F...

                              Per Student Budget ($)  \
0  school_name
Huang High School        655.0
Fig...

                                  Average Math Score  \
0  <bound method GroupBy.mean of <pandas.core.gro...

                               Average Reading Score  \
0  <bound method GroupBy.mean of <pandas.core.gro...

                                      % Passing Math  \
0  school_name
Huang High School    66.666667
Nam...

                                   % Passing Reading  \
0  school_name
Huang High School    80.952381
Nam...

                              % Overall Passing Rate
0  school_name
Huang High School    90.47619
Name...

In [19]:
#Perform the necessary calculations to create a DataFrame that lists the average math score
# for students of each grade level (9th, 10th, 11th, 12th) at each school.
nine_math = student.loc[student['grade'] == '9th'].groupby('school_name')['math_score'].mean()
ten_math = student.loc[student['grade'] == '10th'].groupby('school_name')['math_score'].mean()
eleven_math = student.loc[student['grade'] == '11th'].groupby('school_name')['math_score'].mean()
twelve_math = student.loc[student['grade'] == '12th'].groupby('school_name')['math_score'].mean()
math_scores = pd.DataFrame({ "9th Grade": [nine_math],
                            "10th Grade": [ten_math], "11th Grade": [eleven_math], "12th Grade": [twelve_math]})

print(math_scores)

                                           9th Grade  \
0  school_name
Bailey High School       77.083676...

                                          10th Grade  \
0  school_name
Bailey High School       76.996772...

                                          11th Grade  \
0  school_name
Bailey High School       77.515588...

                                          12th Grade
0  school_name
Bailey High School       76.492218...

In [20]:

#Create a DataFrame that lists the average reading score for students of each grade level (9th, 10th, 11th, 12th) at each school.
nine_reading = student.loc[student['grade'] == '9th'].groupby('school_name')['reading_score'].mean()
ten_reading = student.loc[student['grade'] == '10th'].groupby('school_name')['reading_score'].mean()
eleven_reading = student.loc[student['grade'] == '11th'].groupby('school_name')['reading_score'].mean()
twelve_reading = student.loc[student['grade'] == '12th'].groupby('school_name')['reading_score'].mean()
reading_scores = pd.DataFrame({ "9th Grade": [nine_reading],
                            "10th Grade": [ten_reading], "11th Grade": [eleven_reading], "12th Grade": [twelve_reading]})
print(reading_scores)

                                           9th Grade  \
0  school_name
Bailey High School       81.303155...

                                          10th Grade  \
0  school_name
Bailey High School       80.907183...

                                          11th Grade  \
0  school_name
Bailey High School       80.945643...

                                          12th Grade
0  school_name
Bailey High School       80.912451...

In [30]:
# Create a table that breaks down school performance based on average spending ranges (per student).
# Use the code provided below to create four bins with reasonable cutoff values to group school spending.


bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]
df = pd.DataFrame(metrics)
df

# use`pd.cut` to categorize spending based on the bins.
pd.cut(metrics["Per Student Budget ($)"], bins, labels=labels).a.all()

#spending_math_scores = school_performance.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]
#spending_reading_scores = school_performance.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
#spending_passing_math = school_performance.groupby(["Spending Ranges ( Per Student)"]).mean()["% Passing Math"]
#spending_passing_reading = school_performance.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]
#overall_passing_spending = school_performance.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [ ]:
#Use the scores above to create a DataFrame called `spending_summary`, include the following: average math score, 
# average reading score, % passing math, % passing reading, % overall passing.