In [44]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [45]:
# File to Load (Remember to Change These)
school_data_to_load = "../Resources/schools_complete.csv"
student_data_to_load = "../Resources/students_complete.csv"

In [46]:
# Read School and Student Data File and store into Pandas DataFrames
school = pd.read_csv(school_data_to_load)
student = pd.read_csv(student_data_to_load)

In [47]:
# Combine the data into a single dataset.  
complete = pd.merge(student, school, how="outer", on=["school_name", "school_name"], indicator=True)
complete = complete.head(21)
complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,_merge
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,both
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,both
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,both
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,both
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,both
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635,both
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635,both
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635,both
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635,both
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635,both
10,10,Andrew Alexander,M,10th,Huang High School,90,70,0,District,2917,1910635,both
11,11,Daniel Cooper,M,10th,Huang High School,78,77,0,District,2917,1910635,both
12,12,Brittney Walker,F,9th,Huang High School,64,79,0,District,2917,1910635,both
13,13,William Long,M,9th,Huang High School,71,79,0,District,2917,1910635,both
14,14,Tammy Hebert,F,10th,Huang High School,85,67,0,District,2917,1910635,both
15,15,Dr. Jordan Carson,M,11th,Huang High School,94,88,0,District,2917,1910635,both
16,16,Donald Zamora,M,9th,Huang High School,88,55,0,District,2917,1910635,both
17,17,Kimberly Santiago,F,9th,Huang High School,74,75,0,District,2917,1910635,both
18,18,Kevin Stevens,M,9th,Huang High School,64,69,0,District,2917,1910635,both
19,19,Brandi Lyons,F,9th,Huang High School,89,80,0,District,2917,1910635,both
20,20,Lisa Davis,F,10th,Huang High School,91,89,0,District,2917,1910635,both

In [48]:
# total number of unique schools
unique = student["school_name"].nunique()
unique

15

In [49]:
# total students
total_students = student["student_name"].count()
total_students

39170

In [50]:
# total budget
total_budget= complete["budget"].sum()
total_budget

40123335

In [51]:
#average math score
average_math = student["math_score"].mean()
average_math

78.98537145774827

In [52]:
# average reading score
average_reading = student["reading_score"].mean()
average_reading

81.87784018381414

In [53]:
# % passing math (the percentage of students who passed math)
pass_math = student["math_score"]
pass_math = student["math_score"]>=70
pass_math = (pass_math/total_students)*100

pass_math = pass_math.sum()
pass_math

74.98085269338779

In [54]:
# * % passing reading (the percentage of students who passed reading)
pass_reading = student["reading_score"]
pass_reading = student["reading_score"]>=70
pass_reading = (pass_reading/total_students)*100

pass_reading = pass_reading.sum()
pass_reading

85.80546336482001

In [55]:
# % overall passing (the percentage of students who passed math AND reading)
#overall_pass = student[(pass_math) & (pass_reading)]
overall_pass = (pass_math + pass_reading)/2
overall_pass

80.3931580291039

In [67]:
#Save the results in a DataFrame.
schools_summary =pd.DataFrame({"Total Schools":[unique],"Total Students":[total_students],"Total Budget ($)":[total_budget],
                           "Average Math Score":[average_math],"Average Reading Score":[average_reading],"% Passing Math":[pass_math],
                           "% Passing Reading":[pass_reading],
                          "% Overall Passing Rate":[overall_pass]})
    
schools_summary.head()

,Total Schools,Total Students,Total Budget ($),Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,40123335,78.985371,81.87784,74.980853,85.805463,80.393158

In [88]:
#Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.

top_schools_df = student.sort_values("school_name", ascending=False)

top_schools_df = pd.DataFrame({"School Name":[names]})
                               #"Total Students":[total_students],"Total Budget ($)":[total_budget],
                          # "Average Math Score":[average_math],"Average Reading Score":[average_reading],"% Passing Math":[pass_math],
                          # "% Passing Reading":[pass_reading],
                          #"% Overall Passing Rate":[overall_pass]})
#Save the results in a DataFrame called "top_schools".
top_schools_df.head()

                                         School Name
0  <pandas.core.groupby.generic.DataFrameGroupBy ...

In [ ]:
#Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
#Save the results in a DataFrame called "bottom_schools".

In [52]:
#Perform the necessary calculations to create a DataFrame that lists the average math score
# for students of each grade level (9th, 10th, 11th, 12th) at each school.
math_grade = {
    'grade': [""], 
    'math_score': [""]}
df = pd.DataFrame(math_grade)
df

  grade math_score
0

In [ ]:
#Create a DataFrame that lists the average reading score for students of each grade level (9th, 10th, 11th, 12th) at each school.

In [94]:
# Create a table that breaks down school performance based on average spending ranges (per student).
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]
school_performance = pd.DataFrame
spending_math_scores = school_performance.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"
spending_reading_scores = school_performance.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"
spending_passing_math = school_performance.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"
spending_passing_reading = school_performance.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"
overall_passing_spending = school_performance.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"
# Use the code provided below to create four bins with reasonable cutoff values to group school spending.

SyntaxError: invalid syntax (3686403060.py, line 6)